
.tile rect {
  fill: #E7E7E7;
  stroke: #B4B4B4A3;
  stroke-width: 0.025px;
}

.tile text {
  fill: var(--tiletext-dark);
  filter: opacity(0.5);
  font-weight: 600;
}

.tile[data-tile-type=barrier] rect {
  fill: #4F5057;
}

.tile[data-tile-type=barrier] text {
  fill: var(--tiletext-light);
}

.tile[data-is-path-node=true] rect {
  fill: #DFFFB382;
  /* filter: hue-rotate(45deg); */
}

.tile[data-is-path-node=true] text {
  fill: #E9C71C;
  stroke: #000000;
  font-weight: 900;
  stroke-width: 0.015px;

  /* filter: invert(1); */
}



.tile[data-tile-type=start] rect {
  fill: #9B2B2B;
}

.tile[data-tile-type=start] text {
  fill: var(--tiletext-light);
}

.tile[data-active=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-current=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-active=true][data-is-path-node=false] text {
  fill: #288ED0;
  fill: #F2CA69;
  fill: var(--tiletext-light);
}

.tile[data-highlight=true] rect {
  fill: #FFEE9F;
}

.tile[data-highlight=true][data-is-path-node=false][data-tile-type=empty] text {
  fill: #FFEE9F;
  fill: var(--tiletext-light);
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-tile-type=goal] rect {
  fill: #329B2B;
}

.tile[data-tile-type=goal] text {
  fill: var(--tiletext-light);
}

