:root {
  --tiletext-dark: #706D6D9C;
  --tiletext-light: #EBEBEB96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow-y: scroll;
}

.tile rect {
  fill: #E7E7E7;
  stroke: #B4B4B4A3;
  stroke-width: 0.025px;
}

.tile text {
  fill: var(--tiletext-dark);
}

.tile[data-tile-type=barrier] rect {
  fill: #4F5057;
}

.tile[data-tile-type=barrier] text {
  fill: var(--tiletext-light);
}

.tile[data-is-path-node=true] rect {
  fill: #DFFFB382;
  /* filter: hue-rotate(45deg); */
}

.tile[data-is-path-node=true] text {
  fill: #E9C71C;
  stroke: #000000;
  font-weight: 900;
  stroke-width: 0.015px;

  /* filter: invert(1); */
}



.tile[data-tile-type=start] rect {
  fill: #9B2B2B;
}

.tile[data-tile-type=start] text {
  fill: var(--tiletext-light);
}

.tile[data-active=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-current=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-active=true][data-is-path-node=false] text {
  fill: #288ED0;
  fill: #F2CA69;
  fill: var(--tiletext-light);
}

.tile[data-highlight=true] rect {
  fill: #FFEE9F;
}

.tile[data-highlight=true][data-is-path-node=false][data-tile-type=empty] text {
  fill: #FFEE9F;
  fill: var(--tiletext-light);
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-tile-type=goal] rect {
  fill: #329B2B;
}

.tile[data-tile-type=goal] text {
  fill: var(--tiletext-light);
}


#actor1 {
  transition: 0.15s ease-out;
}